.logoimg {
    max-height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}
.navigation{
    background-color: #EB2329;
    height: 100px ;
   
}

.hero_img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 0px -400px;
    height: 600px;
}
.met_img{
    height: 700px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 0px -200px;
}
.About{
    margin-top: 100px;
}
#auth_links{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    margin-right: 2em;
}
.userWelcome{
    margin: 2rem 2rem;
}
.artDetailCard{
    max-height: 60rem;
    object-fit: contain;
}
#loginClass{
    justify-content: flex-end;
    display: flex;
    margin-top: 20px;
    margin-left: 85rem;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}